@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #003A70;
  --color-secondary: #D97706;
  --color-tertiary: #FFF8E1;
  --color-dark: #212529;
  font-family: 'Public Sans', system-ui, -apple-system, sans-serif;
}
